<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.manage.mapper.SkuSaleAttrValueMapper">
        <select id="selectSkuAttrValueListBySpu" parameterType="int" resultMap="selectSkuAttrValueListBySpuMap">
            SELECT
                sku.id as sku_id,skv.id as skv_id,skv.*,sku.*
            FROM
                sku_info sku,
                sku_sale_attr_value skv
            WHERE
                sku.id = skv.sku_id
            AND sku.spu_id = #{spuId} order by sku.id , skv.sale_attr_id
        </select>

    <resultMap id="selectSkuAttrValueListBySpuMap" type="com.atguigu.gmall.bean.SkuInfo" autoMapping="true">
        <result column="sku_id" property="id" />
        <collection property="skuSaleAttrValueList" ofType="com.atguigu.gmall.bean.SkuSaleAttrValue" autoMapping="true">
            <result column="skv_id" property="id" />
        </collection>
    </resultMap>
</mapper>
